
@media only screen and (min-width: 750px) {
  
  .dontdisplaymenu {

    display: none;

  }

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  font-family: Overpass;
  font-weight: 700;
  font-size: 1.25rem;

}

.navigation-links-nav :hover {
  color: #1f2da5;
}
.navigation-links-text1 {
  margin-left: 32px;
}
.navigation-links-text2 {
  margin-left: 32px;
}
.navigation-links-text3 {
  margin-left: 32px;
}
.navigation-links-text4 {
  margin-left: 32px;
}

}

@media screen and (min-width: 0) and (max-width: 800px)  {
  
  #mobile-cancel-nav{

    display: none;

  }
  #display-menu {

    display: block;
    cursor: pointer;

  }

}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}



.navigation-links-root-class-name10 {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
